*******************************************************************************
*                    Get out of here! You are not welcome...                  *
*******************************************************************************
*  Get out of here. I already know where you come from. And soon I will know  *
*  more. A lot more. And I will use it against you if I need to. Hush, hush.  *
*            Press CTRL-z and quit to terminate the connection.               *
*******************************************************************************
