*******************************************************************************
*                       Don't know when to stop, do you?                      *
*******************************************************************************
*  This system is property of {{ owner }}. Viewing, copying and/or changing   *
*     of software or configuration on this system is only permitted after     *
*         explicit and verifiable permission of {{ owner }}.                  *
*                                                                             *
*  Access and/or use of this device without explicit permission will lead to  *
*                            legal prosecution.                               *
*                                                                             *
*     All traffic to and activity on this device is monitored and logged.     *
*                      Logfiles will be used in evidence.                     *
*                                                                             *
*              Use CTRL-z and quit to terminate the connection.               *
*                                                                             *
*******************************************************************************
