- name: "IOS base snmp servers"
  ios_config:
    provider: "{{ provider }}"
    authorize: yes
    timeout: 60
    lines:
      - snmp-server community {{item.community}} RO 10
      - snmp-server community {{item.community}} RW 11
      - snmp-server host {{item.snmp_ip}} {{item.community}} 

