- name: "IOS base config for aux"
  ios_config:
    provider: "{{ provider }}"
    authorize: yes
    timeout: 60
    lines:
      - authorization exec no-author
      - login authentication no-login
      - no exec
      - stopbits 1
    parents: ['line aux 0']
