- name: "Configure ntp"
  ios_config:
    provider: "{{ provider }}"
    authorize: yes
    timeout: 60
    lines:
      - ntp authenticate
      - ntp trusted-key 1
      - ntp source Loopback0
