snmp-server ifindex persist
snmp-server trap-source Loopback0
snmp-server location somewhere
snmp-server contact someone
snmp-server system-shutdown
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
