<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
  <ntp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ip-ntp-cfg">
   <authentication>
    <enable/>
    <trusted-keies>
     <trusted-key>
      <key-number>{{ ntp_key_id }}</key-number>
     </trusted-key>
    </trusted-keies>
   </authentication>
   <sources>
    <source>
     <vrf-name>default</vrf-name>
     <source-interface>Loopback0</source-interface>
    </source>
   </sources>
  </ntp>
</config>
