<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
 <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native>
   <service>
     <timestamps>
       <debug>
         <datetime>
           <msec/>
         </datetime>
       </debug>
       <log>
         <datetime>
           <msec/>
         </datetime>
       </log>
     </timestamps>
   </service>
   <logging>
     <monitor-conf>
       <monitor>false</monitor>
     </monitor-conf>
     <buffered>
       <size-value>5000000</size-value>
     </buffered>
     <console-conf>
       <console>false</console>
     </console-conf>
     <trap>
       <severity>debugging</severity>
     </trap>
     <source-interface-conf>
       <interface-name-non-vrf>Loopback0</interface-name-non-vrf>
     </source-interface-conf>
     <source-interface>
       <interface-name>Loopback0</interface-name>
     </source-interface>
   </logging>
 </native>
</config>