<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">   
    <host-names xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-shellutil-cfg">
      <host-name>{{ inventory_hostname }}</host-name>
    </host-names>
</config>
