<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
 syslog-service xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-syslog-cfg">
  <timestamps>
   <log>
    <log-datetime>
     <log-datetime-value>
      <time-stamp-value>enable</time-stamp-value>
      <msec>enable</msec>
     </log-datetime-value>
    </log-datetime>
   </log>
   <debug>
    <debug-datetime>
     <datetime-value>
      <time-stamp-value>enable</time-stamp-value>
      <msec>enable</msec>
     </datetime-value>
    </debug-datetime>
   </debug>
  </timestamps>
 </syslog-service>
 <syslog xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-syslog-cfg">
  <trap-logging>
   <logging-level>debug</logging-level>
  </trap-logging>
  <archive>
   <device>/harddisk:</device>
   <severity>debug</severity>
   <file-size>10</file-size>
   <frequency>daily</frequency>
   <size>300</size>
   <length>4</length>
  </archive>
  <console-logging>
   <logging-level>disable</logging-level>
  </console-logging>
  <buffered-logging>
   <buffer-size>5000000</buffer-size>
  </buffered-logging>
  <source-interface-table>
   <source-interface-values>
    <source-interface-value>
     <src-interface-name-value>Loopback0</src-interface-name-value>
     <source-interface-vrfs>
      <source-interface-vrf>
       <vrf-name>default</vrf-name>
      </source-interface-vrf>
     </source-interface-vrfs>
    </source-interface-value>
   </source-interface-values>
  </source-interface-table>
 </syslog>
</config>