snmp-server source-interface traps loopback 0
snmp-server source-interface informs loopback 0
snmp-server location {{ snmp_location }}
snmp-server contact {{ snmp_contact }}
snmp-server system-shutdown
snmp-server enable traps snmp authentication
snmp-server enable traps link linkdown
snmp-server enable traps link linkup
snmp-server community {{ ro_community }} RO
ip access-list snmp_read
 permit ip {{ mgt_subnet }} {{ mgt_mask }} any
 deny ip any any log
snmp-server community {{ ro_community }} use-ipv4acl snmp_read
snmp-server community {{ rw_community }} RW
ip access-list snmp_write
 permit ip {{ mgt_subnet }} {{ mgt_mask }} any
 deny ip any any log
snmp-server community {{ rw_community }} use-ipv4acl snmp_write
