{# This Source Code Form is subject to the terms of the Mozilla Public #}
{# License, v. 2.0. If a copy of the MPL was not distributed with this #}
{# file, You can obtain one at http://mozilla.org/MPL/2.0/.            #}

{%- for int in bundles %}
    {%- if int.node == inventory_hostname %}
        {%- if ansible_network_os == "ios" -%}

{#######################################################################}
{# IOSXE specific commands                                             #}
{#######################################################################}

<config>
<interface-configurations xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ifmgr-cfg">
   <interface-configuration>
    <active>{{ int.active }}</active>
    <interface-name>{{ int.type }}.{{ int.id }}</interface-name>
    <interface-mode-non-physical>default</interface-mode-non-physical>
    <description>{{ int.description }}</description>
    <vrf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-rsi-cfg">t1-ssc-av-cmo-a-01</vrf>
    <ipv4-network xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-io-cfg">
     <addresses>
      <primary>
       <address>{{ int.ip_address }}</address>
       <netmask>{{ int.mask }}</netmask>
      </primary>
     </addresses>
    </ipv4-network>
    <ipv4arp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-arp-cfg">
     <timeout>{{ int.timeout }}</timeout>
    </ipv4arp>
    {% if int.shutdown %} <shutdown></shutdown> {% endif %}
    <vlan-sub-configuration xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-l2-eth-infra-cfg">
     <vlan-identifier>
      <vlan-type>vlan-type-dot1q</vlan-type>
      <first-tag>{{ int.id }}</first-tag>
     </vlan-identifier>
    </vlan-sub-configuration>
   </interface-configuration>
</interface-configurations>
</config>

        {%- endif %}
    {%- endif %}
{% endfor %} 