{# This Source Code Form is subject to the terms of the Mozilla Public #}
{# License, v. 2.0. If a copy of the MPL was not distributed with this #}
{# file, You can obtain one at http://mozilla.org/MPL/2.0/.            #}

{%- for int in bundles %}
    {%- if int.node == inventory_hostname %}
        {%- if ansible_network_os == "nxos" -%}
        
{#######################################################################}
{# NXOS specific commands                                              #}
{#######################################################################}
interface {{ int.type }}{{ int.id }}
 description *** {{ int.description }} ***
 switchport
 {% if int.bundle > 0 %}
 channel-group {{ int.bundle }} mode active
 {% endif %}
!
{% endif %}
{%- endif %}
{%- endfor %} 